@charset "UTF-8";

/*********************************
preset variables
*********************************/
:root {
    --fontSize: 16px;
    --linkColor: #39527b;
    --textColor: #39527b;
    /* color preset */
    --color1: #39527b;
    --color2: #626fb9;
    --color3: #626fb9;
    --color4: #CC0033;
    /* width preset */
    --gutter: 1.3rem;
    --gap: 3rem;
    --contentWidth: 1000px;
}

/* OVERWRITE RADIX */

/* OVERWRITE end */
/*************************************
* START header
*************************************/
header .header-body {
  display: flex;
  justify-content: space-between;
}

header h1 {
  width: 100%;
}
header h1 a {
  display: block;
  color: var(--textColor);
  width: 100%;
}
header h1 a {
  display: grid;
  grid-template-columns: min(100%, 220px) 1fr;
  grid-template-rows: auto auto auto;
  width: 100%;
  height: 100%;
  line-height: 1.2;
  text-decoration: none!important;
}
header h1 a .logo {
  grid-row: 1/4;
  grid-column: 1;
  align-self: center;
  display: block;
  width: 100%;
  max-width: 220px;
  max-height: 100px;
}
header h1 a .logo::before {
  content: "";
  display: block;
  margin : 0 auto;
  width: 80%;
  padding-top: 35.34483%;
  background: url('../img/template/Logo ĐH Kinh tế Kỹ thuật Công nghiệp - UNETI.png') no-repeat center center;
  background-size: contain;
}
header h1 a .row-1 {
  grid-row: 1;
  grid-column: 2;
  align-self: end;
  display: inline-block;
  margin-left: 1rem;
  font-weight: 700;
  font-size: 2.0rem;
  letter-spacing: .1ch;
}
header h1 a .row-2 {
  grid-row: 2;
  grid-column: 2;
  align-self: start;
  display: inline-block;
  margin-left: 1rem;
  color: #666;
  font-size: 1.2rem;
  font-weight: 700;
}

header h1 a .row-3 {
  grid-row: 3;
  grid-column: 2;
  align-self: start;
  display: inline-block;
  margin-left: 1rem;
  color: #666;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: .05ch;
}

header h1 a .col-2 {
  grid-row: 1/3;
  grid-column: 3;
  align-self: center;
  display: inline-block;
  /* margin-left: 1rem; */
  color: #666;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: .2ch;
}


header .header_button {
  display: flex;
}

header .header_button a {
  display: grid;
  width: 100px;
  height: 95px;
  justify-items: center;
  align-items: start;
  color: #fff;
  font-size: .9rem;
  text-decoration: none!important;
}
header .header_button a i.fas {
  align-self: end;
  font-size: 1.1rem;
}

header .header_button a.lang-switch {
  background: var(--color2);
}

header .header_button a.sitemap {
  background: var(--color3);
}

#global-nav {
  background: #000;
}
#global-nav ul.centering {
  display: flex;
}
#global-nav li {
  width: 100%;
}
#global-nav a {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  padding: 1rem .5rem;
  color: #fff;
}
#global-nav a:hover {
  background: #555;
  text-decoration: none;
}
div.slide_wrapper {
  padding: 2rem 0;
}
div.slide_wrapper::before {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  padding-top: 56.128%;
  background: url(../img/template/332710559_1369045637179025_5518704258527488670_n.jpg) no-repeat center center;
  background-size: contain;
}

/*************************************
* END header START main
*************************************/
main {
  --asideWidth: 200px;
  display: grid;
  grid-template-columns: 1fr min(calc(100% - var(--asideWidth)), calc(var(--contentWidth) - var(--asideWidth))) var(--asideWidth) 1fr;
  grid-template-rows: 100%;
  padding: 2rem 1rem;
}
main article {
  grid-row: 1;
  grid-column: 2;
  margin-right: 2.5rem;
}
ol.breadcrumb {
  list-style: none;
  padding-left: 0;
  margin-bottom: .5rem;
}
ol.breadcrumb li {
  display: inline-block;
}
ol.breadcrumb li:not(:last-of-type)::after {
  content: ">";
  margin: 0 .3rem;
}
main aside {
  grid-row: 1;
  grid-column: 3;
  align-self: start;
  padding: 0 .5rem;
  background: #f4f4f4;
}
aside .banners {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: .8rem;
  list-style: none;
  padding-left: 0;
  margin: 1rem 0 .5rem;
}
.banners li {
  width: 100%;
  max-width: 180px;
  margin-bottom: .5rem;
}
.banners a {
  display: block;
  width: 100%;
  height: 0;
  padding-top: 40.5555556%;
  background: transparent no-repeat center center;
  background-size: contain;
}


main h1 {
  padding-bottom: .3rem;
  border-bottom: 2px solid var(--color1);
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.4;
}
main h1.index {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto;
  align-items: center;
  background: #eee;
  font-size: 1.3rem;
  line-height: 1.4;
}
main h1.index span {
  grid-column: 1;
  display: block;
  padding: .5rem 2rem;
  margin-right: 1rem;
  background: var(--color1);
  color: #fff;
  font-weight: 700;
}
main h1.index a {
  grid-column: 3;
  margin-right: 1.5rem;
  color: var(--textColor);
  font-size: 1rem;
  line-height: 1;
}
main h2 {
  color: var(--color3);
  font-size: 1.2rem;
  font-weight: 700;
}
a.more {
  line-height: 1;
}
a.more::after {
  content: "\f105";
  font-family: 'Font Awesome 5 Free';
  font-weight: 700;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  margin-left: .5rem;
  background: var(--color1);
  color: #eee;
  text-align: center;
}

dl.career {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 0rem 0rem 0rem 0rem;
  margin-bottom: 0;
  /* border: 1px solid #ccc; */
  /* height: 280px; */
}
dl.career dt {
  grid-column: 1;
  padding: 0rem 0rem 0rem 0;
  /* border-bottom: 1px solid #ccc; */
  /* font-weight: 700; */
}
dl.career dd {
  grid-column: 2;
  padding: 0rem 1rem;
  /* border-bottom: 1px solid #ccc; */
} 

dl.topics-list {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 1rem 1rem 2rem;
  border: 1px solid #ccc;
  overflow-y: scroll;
  height: 280px;
}
dl.topics-list dt {
  grid-column: 1;
  padding: .7rem 1.5rem .7rem 0;
  border-bottom: 1px solid #ccc;
  font-weight: 700;
}
dl.topics-list dd {
  grid-column: 2;
  padding: .7rem 0;
  border-bottom: 1px solid #ccc;
}

dl.topics-list-sub {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 1rem 1rem 2rem;
  border: 1px solid #ccc;
}
dl.topics-list-sub dt {
  grid-column: 1;
  padding: .7rem 1.5rem .7rem 0;
  border-bottom: 1px solid #ccc;
  font-weight: 700;
}
dl.topics-list-sub dd {
  grid-column: 2;
  padding: .7rem 0;
  border-bottom: 1px solid #ccc;
}

dl.topics-list-fix {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 0rem 1rem 0rem;
  border: 1.5px solid rgb(148, 146, 146);
}
dl.topics-list-fix dt {
  grid-column: 1;
  padding: .7rem 1.5rem .7rem 0;
  border-bottom: 1px solid #ccc;
  font-weight: 700;
}
dl.topics-list-fix dd {
  grid-column: 2;
  padding: .7rem 0;
  border-bottom: 1px solid #ccc;
}

.iframeWrapper{
  position: relative;
  max-width: 520px;
  margin: 0 auto;
  margin-bottom: 1rem;
}
.iframeWrapper::before{
  content: "";
  display: inline-block;
  padding-top: 56.25%;
}
.iframeWrapper iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.iframeWrapper video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*--------------------------------------------------------------
# Tables
--------------------------------------------------------------*/
table {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #e0e0e0;
}
th {
    background-color: #39527b;
}
table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
    padding: 10px;
    line-height: 1.42857143;
    vertical-align: top;
}
table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
    border: 1px solid #dddddd;
}

/*************************************
* END main START footer
*************************************/
footer {
  border-top: solid 3px #000;
  padding: 2rem 0;
}
footer a.pagetop {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 1rem;
  right: max(.5rem, 5vw);
  z-index: 998;
  background: url(../img/template/scroll.png) no-repeat center center;
  background-size: cover;
  transition: .3s ease-in-out;
}
footer .footer-body {
  display: grid;
  grid-template-columns: 1fr min(100%, 220px);
  grid-template-rows: auto auto;
}
footer .footer-nav {
  grid-row: 1;
  grid-column: 1;
  margin-top: 1rem;
}
footer .footer-nav li {
  display: inline-block;
  margin-right: 2rem;
}
footer .footer-nav li::before {
  content: "\f105";
  margin-right: .2rem;
  font-family: 'Font Awesome 5 Free';
  color: var(--color1);
  font-weight: 700;
}
footer .footer-nav a {
  color: var(--textColor);
}
footer .footer-info {
  grid-row: 1/3;
  grid-column: 2;
  align-self: center;
}
footer .footer-logo {
  width: 100%;
  max-width: 200px;
  margin-bottom: 1rem;
}
footer .footer-logo::before {
  content: "";
  display: block;
  margin : 0 auto;
  width: 80%;
  padding-top: calc(100% * 224 / 629);
  background: url('../img/template/Logo ĐH Kinh tế Kỹ thuật Công nghiệp - UNETI.png') no-repeat left center;
  background-size: contain;
}
footer .copyright {
  grid-row: 2;
  grid-column: 1;
  align-self: end;
}

/*************************************
* END footer START only for sp
*************************************/
@media only screen and (max-width: 850px) {
  .sp-hide {
    visibility: hidden;
    opacity: 0
  }
  .sp-visible {
    visibility: visible;
    opacity: 1
  }
  .sp-none {
    display: none !important
  }
  .rdx-btn {
    display: block
  }

  header .header-body {
    min-height: 60px;
    padding-right: 60px;
  }
  header h1 a {
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
  }
  header h1 a .logo {
    grid-row: 1;
    grid-column: 1;
    max-width: 110px;
    margin-left: .5rem;
  }
  header h1 a .row-1 {
    grid-row: 2;
    grid-column: 1;
    font-size: .8rem;
    margin-left: .5rem;
  }
  header h1 a .row-2 {
    grid-row: 3;
    grid-column: 1;
    font-size: .7rem;
    letter-spacing: .1ch;
    margin-left: .5rem;
  }
  header h1 a .row-3 {
    grid-row: 4;
    grid-column: 1;
    font-size: .5rem;
    letter-spacing: .1ch;
    margin-left: .5rem;
  }
  #toggle-nav {
    display: block;
    width: 60px;
    height: 37px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    background: var(--color1);
    color: #fff;
  }
  #svg-toggle {
    width: 50%;
    position: absolute;
    top: 12%;
    left: 50%;
    z-index: 2;
    transform: translateX(-50%);
  }
  #toggle-nav .text {
    width: 100%;
    position: absolute;
    bottom: 15%;
    font-size: .8rem;
    font-weight: 700;
    text-align: center;
  }
  #global-nav {
    width: calc(100% - 60px);
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;
    padding: 2rem 0;
    transform: translateX(-100%);
    visibility: hidden;
    transition: .3s ease-out;
  }
  #global-nav.opened {
    transform: translateX(0);
    visibility: visible;
    box-shadow: 0 0 70px 70px rgba(49, 49, 49, .4);
  }
  #global-nav ul.centering {
    flex-direction: column;
  }
  #global-nav .header_button {
    display: flex;
  }
  #global-nav .header_button a {
    display: block;
    width: 50%;
    padding: .5rem;
    text-align: center;
  }
  #global-nav .header_button a i.fas {
    margin-right: .5rem;
  }
  #global-nav .header_button .lang-switch {
    background: #333;
  }
  #global-nav .header_button .sitemap {
    background: #444;
  }
  main {
    grid-template-columns: 1rem calc(100% - 2rem) 1rem;
    grid-template-rows: auto auto;
    padding: 2rem 0;
  }
  main article {
    grid-row: 1;
    grid-column: 2;
    margin-right: 0;
  }
  main aside {
    grid-row: 2;
    grid-column: 1/4;
  }
  dl.topics-list {
    display: block;
  }
  dl.topics-list dt {
    border-bottom: none;
    padding-bottom: 0;
  }
  dl.topics-list dd {
    padding-top: 0;
  }
  dl.topics-list dd.archive {
    border-bottom: none;
    text-align: center;
    padding: 1rem 0 0;
  }
  footer {
    padding: 2rem 1rem;
  }
  footer .footer-body {
    display: block;
  }
  footer .footer-info {
    margin-bottom: 2rem;
  }
}

@media only screen and (min-width: 850px) and (max-width: 1000px) {
  header h1 a {
    grid-template-columns: min(100%, 180px) 1fr;
  }
  header h1 a .row-1 {
    font-size: 1.1rem;
  }
  header h1 a .row-2 {
    font-size: .8rem;
  }
  header h1 a .row-3 {
    font-size: .7rem
  }
}
/*************************************
* END only for sp START only for pc
*************************************/
@media print,
screen and (min-width: 850px) {
  .pc-hide {
    visibility: hidden;
    opacity: 0
  }

  .pc-visible {
    visibility: visible;
    opacity: 1
  }

  .pc-none {
    display: none !important
  }

}
.header-banner {
    display: block;
    max-width: 100%;
    height: auto;
}

.header-body {
    position: relative;
}

@media (max-width: 767px) {
    .header-banner {
        width: 100%;
    }
}
body {
    padding-top: 170px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9998;
    width: 100%;
}

nav#global-nav {
    position: fixed;
    top: 110px; /* Khoảng cách giữa header và nav là 90px */
    left: 0;
    z-index: 9999;
    width: 100%;
    background-color: #39527b;
}

    nav#global-nav a {
        font-weight: bold;
    }
.login-btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 0;
    text-align: center;
}
@media (max-width: 767px) {
    .login-btn {
        display: block;
        text-align: center;
    }
}





.news_section_container {
    margin-top: 100px;
    margin: auto;
    width: 65%; /* adjust to your desired width */
}

.title-news {
    font-size: 30px;
    border-bottom: 1px solid;
    padding: 15px 0;
    margin-bottom: 25px;
}

.item-right {
    width: calc(65% - 20px);
    float: left;
    padding-left: 20px;
}

.img-box {
    max-width: 400px;
    max-height: 500px;
}

.row-item-new {
    margin-bottom: 20px;
}

.feature-post {
    margin-bottom: 18px;
    padding-bottom: 18px;
    border-bottom: 1px dotted #d9d9d9;
    width: 100%;
    float: left;
    clear: both;
}

.item-left {
    width: 35%;
    float: left;
}

.item-right h3 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 10px;
    color: #000;
}

.description-box {
    font-size: 15px;
}

.entry-meta {
    font-size: 13px;
    margin-bottom: 5px;
    color: #666;
}
